# DocGen Codeowners File
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @mprestonsparks

# Documentation template owners
/docs/_templates/ @mprestonsparks

# Core scripts owners
/scripts/ @mprestonsparks
/src/ @mprestonsparks

# Configuration owners
/config/ @mprestonsparks